.logo {
	width:100%;
}
body {
	font-size: 5em;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
li {
	text-align: center;
	border-bottom: 1px solid #90bade;
	margin: 0;
}
li a {
	display: block;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}
.license {
	font-size:0.2em;
	color:gray;
	margin-top: 100px;
}